{% extends 'webadmin/base.html' %}

{% block content %}

<p class="title is-1">Password ändern</p>
<p class="subtitle is-3">für {{account.matrix_user_id}}</p>

<form action="{% url 'user_set_password' matrix_user_id=account.matrix_user_id %}" method="post">
    {% csrf_token %}
    {{ form.errors }}

    <section class="section">
        <div class="box">
            <h3 class="title">Neues Passwort</h3>
            {{ form.new_password }}
        </div>
        <p class="control">
            <button class="button is-success">
                Do it
            </button>
        </p>
    </section>

</form>
{% endblock %}



